body {
    background-color: rgb(245, 245, 245);
    background-image: url(../images/create.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  
  .nav-wrapper {
    background: linear-gradient(to bottom right, #626262 0%, #292929 100%);
  }      
  
 
  .brand-logo {
    font-size: 5vw;
  }
  
  #section2 {
    height: 180px;
    background-image: url(../images/blue-back3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%
  }
  
  .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 30px auto;
    margin-top: -30px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 5px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -55px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(1.06, 1.06);
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }

  #card-links {
    border: 2px solid black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  .btn {
      border-bottom: 3px solid rgb(3, 3, 119);
      border-right: 2px solid rgb(3, 3, 119);
      border-left: 2px solid rgb(3, 3, 119);
  }
  

  