body {

    background-color: rgb(218, 211, 211);
    background: url(../images/create.jpeg);
    background-size: 105%;
    

}


nav {

    height: 70px;
}


#about-me-container {

    background: rgb(228, 228, 228);
    /* background: url(../images/blur.jpeg); */
    margin-top: -200px;
    height: 400px; 
    width: 800px;
    border-radius: 2px;
    border: solid rgb(250, 250, 250);
    
}

#section2 {

    height: 250px;
}

#image-holder {

    float: left;
    margin-top: -30px;
    margin-left: 20px;
    border-radius: 5px;
    overflow: none;
    
}

#my-image {

    border-radius: 5px;
    border: solid rgb(255, 253, 253);
    margin: none;
    overflow: none;

    
}

#business-top {

    height: 60px;  
    border-radius: 2px;

   
}

#paragraph-holder {

    margin-left: 20px;
    
}

.carousel {

    margin-top: -200px;
}